.nav {
   width: 100%;
   background-color: rgba(201, 200, 201, 0.513);
}

.nav-tabs{
   font-size: 20px;
   color: white;
   border-radius: 10px 20px 0px 2px;
   width: 100%;
}

.nav-item{
   /* width: 50%; */
}

.nav-link{
   color: white!important;
   border: none!important;
   width: 100%!important;

}

.nav-link.active{
   background-color: blueviolet!important;
   color: white;
   border-radius: 10px 20px 0px 2px;

}
.form-select{
   /* height: 48px; */
 }
 .form-floating>.form-select{
   padding-top: 1.325rem;
   padding-bottom: 0.175rem;
 }
 .form-floating{
   height: 48px;
   
 }
 